*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

body{
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
    width: 100%;
    /* overflow-x: hidden; */
}
header{
    height: 90px;
    z-index: 9999;
    width: 100%;
    position: fixed; 
    background-color:whitesmoke;

}
header .container-left h2{
    color: rgb(10, 133, 233);
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 1px;
}
header .container .spanselector span{
    font-size:45px;
    font-weight: bolder;
    color:rgb(156, 40, 40);
    margin-left: 0px;
}
header .container{
    display: flex;
    height: 90px;
    justify-content: space-around;
    align-items: center;
}
header .container-left{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: tomato; */
    
}
.ham-click a{
    text-decoration: none;
    color: rgb(10, 133, 233);   
    font-size: 24px;
}
.ham-click{
    display: none;
   
}
.ham-click.click{
    
    height: 100vh;
    background-color: #fff;
        /* margin-top: 100px;
        z-index: 99999; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* display: block; */
}

header .container-left .container-left-logo img{
    height: 60px;
    width: 60px;
    margin-right: 10px;
}
.fade.ani.fade{

    opacity: 1;
    transform: translateY(20px);
}
/* .fade.ani .container{
    
} */
 header a{
     text-decoration: none;
     color: rgb(10, 133, 233);
     font-family:  Tahoma, Geneva, Verdana, sans-serif;
 }

 header .container-right a{
     margin-right: 30px;
     font-size: 20px;
     font-weight: 530;
 }
 .section-one{
     height: 100vh;
     /* overflow-x: hidden; */
     /* background-color: rgb(255, 255, 255);
      */
      background: url('./images/hero-bg.png') top center no-repeat;
      background-attachment: fixed;
      background-size: cover;
 }

 .section-one .section-one-container{
     height: 100vh;
     display: flex;
     justify-content: space-evenly;
     align-items:center;
     /* background-color: black; */
    
    
 }
 .section-one-container .section-one-container-left{
     height: 250px;
     max-width: 800px;
     background-color: rgba(233, 227, 227, 0.109);
     /* background-color: red; */
     border-radius: 5px;
     transform: translateY(-200px);
     opacity: 0;
     transition: 1.5s ease-in-out;
 }

 .section-one-container-left h1{
     color:rgb(10, 133, 233) ;
     font-weight: bold;
     font-size: 45px;
     margin-top: 50px;
     letter-spacing: 7px;
     line-height: 60px;
 }
 .section-one-container-left h2{
    color:rgb(156, 40, 40);
    font-size: 25px;
    margin-top: 40px;
    letter-spacing: 7px;
    line-height: 0px;
    text-shadow: 2px 2px rgba(26, 25, 25, 0.226);

 }
 .section-one-container-right{
    /* height: 500px;
    width: 500px; */
    /* background: url('./images/vector.jpg'); */
    /* background-size: cover; */
    /* object-fit: cover; */
    /* background-repeat: no-repeat; */
    /* background-color: red; */
    /* margin-top: -150px; */
    /* margin-left: -200px; */
    opacity: 0;
    transform: translateY(200px);
     transition: 1.5s ease-in-out;

 }
 .ham{
     color: rgb(10, 133, 233);
     font-size: 27px;
     display: none;
 }
 .section-one-container-right img{
     max-height: 500px;
    max-width: 500px;

 }
 .section-two{
    height: 100vh;
    /* overflow-x: hidden; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .section-two-container{
     height: 100vh;
     max-width: 1200px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     /* background-color: red; */
 }
 .section-two-container-left{
    height: 450px;
    width: 600px;
    display: flex;
    flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background-color: rgba(233, 227, 227, 0.109);
   border: 5px;
   transform: translateY(200px);
   opacity: 0;
   transition: 0.5s ease-in-out;
}
.section-two-container-left h2{
    color:rgb(10, 133, 233) ;
    font-size: 30px;
    font-weight: lighter    ;
    
}
.section-two-container-left h4{
    font-weight: 100;
    margin-top: 30px;
    color: cadetblue;
}
/* .section-two-container-left ul{

} */
.section-two-container-left h3{
    /* list-style: none; */
    margin-top: 25px;
    font-weight: 900;
    font-size: 30px;
    color:rgb(156, 40, 40);
    width: 400px;
    text-align: justify;

}
.right{
    margin-top: 30px;
    margin-right: 15px;
    width: 13px;
    height: 25px;
    border: 5px solid black;
    border-top: rgba(233, 227, 227, 0.109);
    border-left: rgba(233, 227, 227, 0.109);
    transform: rotate(45deg);
    
}

.section-two-container-left button{
    background-color: rgb(10, 133, 233);
    color: white;
    border: none;
    outline: none;
    padding: 10px 25px;
    border-radius: 4px;
    font-size: 19px;
    margin-top: 25px;
}
.rightandtext{
    display: flex;
    /* margin-top: 25px; */
  
    /* font-weight: 600;  */
    /* font-size: 20px;   */
    /* background-color: red; */
}
 .section-two-container-right{
    height: 500px;
    width: 500px;
    background: url('./images/about.jpg');
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    /* background-color: red; */
    margin-top: -150px;
    /* margin-left: -150px; */
    transform: translateY(200px);
    opacity: 0;
    transition: 0.7s ease-in-out;
   

 }
 .section-three{
     height: 70vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     /* transform: rotate(30deg); */
     transform: translateY(200px);
     opacity: 0;
     transition: 0.7s ease-in-out;
 }
 .section-three-container{
    height: 70vh;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
 }
 .section-three-heading h2{
     text-align: center;
     color:rgb(10, 133, 233) ;
     margin-bottom: 50px;
     font-size: 35px;
     text-decoration: underline;
     padding: 60px 30px;
     /* transform: translateY(40px);
     transition: 1s ease-in-out; */
 }
 .section-three-container-mid,.section-three-container-left,.section-three-container-right{
      height: 400px;
    width: 400px; 
     padding: 60px 30px;
     /* height: 100%; */
     margin-top: 50px;
     background-color: rgb(255, 255, 255);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
     border: 1px solid whitesmoke;
     border-radius: 5px;
     
 }
 .section-three-container-left-img img{
    max-height: 300px;
     max-width: 300px;
     /* background-size: cover;
     background-image: url('./images/elegant.png'); */
 }
 .section-three-container-mid-img img{
    max-height: 300px;
    max-width: 300px;
    /* background-size: cover; */
    /* background-image: url('./images/maintainance.png'); */
 }
 .section-three-container-right-img img{
    max-height: 300px;
    max-width: 300px;
    /* background-size: cover; */
    /* background-image: url('./images/better\ work.png');   */

 }
 .section-three-container-left-heading{
     text-align: center;
 }
 .section-three-container-mid-heading,.section-three-container-left-heading,.section-three-container-right-heading{
     color:rgb(10, 133, 233) ;
     font-size: 23px;
     font-weight: bolder;
 }
 .section-three-container-mid-description,.section-three-container-left-description,.section-three-container-right-description{
     color:rgb(156, 40, 40) ;
     height: 90px;
     font-size: 19px;
     /* display: flex;
     justify-content: center;
     align-items: center; */
     text-align: center;
     /* background-color: tomato; */
 }
.section-four{
    height: 80vh;
    margin-top: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: space-evenly;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out;
}
.section-four-container{
    /* background-color: violet; */ 
    height: 80vh;
   max-width: 100%;
   /* background-color: violet; */
    display: flex;
    align-items : center;
    justify-content: space-evenly; 
}
.section-four-container-left img{
    max-width: 100%;
    height: auto;
    /* background-color: turquoise; */
    transform: scale(0.6);
}
.section-four-container-right{
    width: 300px;
    height: 400px;
    /* background-color: yellow; */
    display: flex;
  flex-direction: column;
    justify-content: space-between;
}
/* .section-four-common{
    padding: 1px 5px;
   
 }  */
.section-four-common{
    display: flex;
    justify-content: space-between;
}

.section-four-right{
    width: 20px;
    height: 40px;
    border: 6px solid rgb(156, 40, 40);
    border-radius: 3px;
    border-top: none;
    border-left: none;
    margin-right:30px;
    margin-top: -10px;
    transform: rotate(40deg);

}
.section-four h2{
    color:rgb(10, 133, 233)  ;
    font-size: 40px;
    text-decoration: underline;
}
.section-four-heading{
    width: 100%;
    color:rgb(10, 133, 233) ;
   
    /* text-align: left; */
    /* border: 2px solid red; */
   
}
.section-five{
    height: 100vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-five-container{
    height: 100vh;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-five-container-top{
    width: 100%;
    /* background-color: red; */
    max-height: 500px;
    margin-top: 100px;
    display: flex;  
    justify-content: space-around;
    flex-wrap: wrap;
    
    /* background-color: black; */
}
.section-five-container-top-left,.section-five-container-top-mid,.section-five-container-top-right{
    max-width: 400px;
    max-height: 400px;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 5px solid whitesmoke;
    border-radius: 5px;
}
.section-five h2{
    text-align: center;
    color:rgb(10, 133, 233);
    font-size: 30px;
    text-decoration: underline;
 
}
.top-icon{
    font-size: 60px;
    color: rgb(156, 40, 40);
}
.top-heading{
    color: rgb(10, 133, 233) ;
    font-size: 30px;
    font-weight: bold;
}
.top-description{
    color: #444444;
    line-height: 30px;
    font-size: 17px;
}

.section-six{
    height: 60vh;
    width: 100%;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-six-container{
    height: 60vh;
    display: flex;
    width: 70%;
    /* background-color: red; */
    justify-content: space-around;
}
.section-six-container-left-top{
    width: 500px;
    height: 200px;
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    margin-top: 100px;
    
    
    /* padding: 20px; */
}
.section-six-social{
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 10px 30px; */
    background: #fafbff;
    border: 1px solid whitesmoke;
}

.section-six-icon{
    font-size: 30px;
    color:rgb(10, 133, 233)  ;
}
.section-six-text a{
    text-decoration: none;
}
.section-six-heading{
    color: #444444;
    font-size:28px;
}
.section-six h1{
    color: rgb(10, 133, 233) ;
    font-size: 35px;
    text-decoration: underline;
}
.section-six-container-right{
    margin-top: 100px;
}
.section-six-container-right input{
   
    margin: 10px;
    
}
input,textarea{
    border: 1px solid rgb(10, 133, 233) ;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    background-clip: padding-box;
}

.section-six-form{
    width: 450px;
    height: 400px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #44444423;
}
.section-six-inputtop{
    display: flex;
    justify-content: space-between;
}
.section-six-inputbot input{
    display: block;
    width: 300px;
    margin-bottom: 30px;
}
.footer{
    margin-top: 100px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f9ff;
}
.footer-container{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
.footer-container h4,h5{
    font-weight: lighter;
    margin-top: 10px;
}
.build{
    color:rgb(10, 133, 233)  ;
    font-size: 18px;
}
.x{
    color: rgb(156, 40, 40);
    font-size: 20px;
}
.button-class{
    margin-top: 20px;
}
.last-button{
    padding: 10px 20px;
    background-color: rgb(10, 133, 233)  ;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
cursor: pointer;
}
@media(max-width:1540px){
    
    .section-one-container .section-one-container-left{
        height: 250px;
        max-width: 800px;
        background-color: rgba(233, 227, 227, 0.109);
        /* background-color: red; */
        border-radius: 5px;
        transform: translateY(-200px);
        opacity: 0;
        transition: 1.5s ease-in-out;
    }
   
    .section-one-container-left h1{
        color:rgb(10, 133, 233) ;
        font-weight: bold;
        font-size: 32px;
        /* margin-top: 50px; */
        letter-spacing: 7px;
        line-height: 60px;
    }
    .section-one-container-left h2{
       color:rgb(156, 40, 40);
       font-size: 22px;
       /* margin-top: 40px; */
       letter-spacing: 6px;
       line-height: 0px;
       text-shadow: 1px 1px rgba(26, 25, 25, 0.226);
   
    }
}

@media(max-width:1520px){
   
    .section-five-container{
        height: 80vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .section-five-container-top{
        width: 100%;
        /* background-color: red; */
        max-height: 500px;
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        /* background-color: black; */
    }
    .section-five-container-top-left,.section-five-container-top-mid,.section-five-container-top-right{
        max-width: 350px;
        max-height: 350px;
        padding: 100px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 1px solid whitesmoke;
        border-radius: 5px;
    }
    .section-five h2{
        text-align: center;
        color:rgb(10, 133, 233);
        font-size: 26px;
        text-decoration: underline;
     
    }
    .top-icon{
        font-size: 50px;
        color: rgb(156, 40, 40);
    }





    .section-three-container{
        height: 70vh;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* flex-wrap: wrap; */
     }
     .section-three-heading h2{
         text-align: center;
         color:rgb(10, 133, 233) ;
         margin-bottom: 50px;
         font-size: 30px;
         text-decoration: underline;
         padding: 60px 30px;
         /* transform: translateY(40px);
         transition: 1s ease-in-out; */
     }
     .section-three-container-mid,.section-three-container-left,.section-three-container-right{
          height: 400px;
        width: 350px; 
         padding: 60px 30px;
         /* height: 100%; */
         margin-top: 50px;
         background-color: rgb(255, 255, 255);
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-evenly;
         border: 1px solid whitesmoke;
         border-radius: 5px;
         
     }
     .section-three-container-left-img img{
        max-height: 300px;
         max-width: 300px;
         /* background-size: cover;
         background-image: url('./images/elegant.png'); */
     }
     .section-three-container-mid-img img{
        max-height: 300px;
        max-width: 300px;
        /* background-size: cover; */
        /* background-image: url('./images/maintainance.png'); */
     }
     .section-three-container-right-img img{
        max-height: 300px;
        max-width: 300px;
        /* background-size: cover; */
        /* background-image: url('./images/better\ work.png');   */
    
     }
     .section-three-container-left-heading{
         text-align: center;
     }
     .section-three-container-mid-heading,.section-three-container-left-heading,.section-three-container-right-heading{
         color:rgb(10, 133, 233) ;
         font-size: 20px;
         font-weight: bolder;
     }
     .section-three-container-mid-description,.section-three-container-left-description,.section-three-container-right-description{
         color:rgb(156, 40, 40) ;
         height: 90px;
         font-size: 17px;
         /* display: flex;
         justify-content: center;
         align-items: center; */
         text-align: center;
         /* background-color: tomato; */
     }









     
.section-six{
    /* overflow-x: hidden; */
    height: 60vh;
    width: 100%;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-six-container{
    height: 60vh;
    display: flex;
    width: 100%;
    /* background-color: red; */
    justify-content: space-around;
}
.section-six-container-left-top{
    width:450px;
    height: 200px;
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    margin-top: 100px;
    
    
    /* padding: 20px; */
}
.section-six-social{
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 10px 30px; */
    background: #fafbff;
    border: 1px solid whitesmoke;
}

.section-six-icon{
    font-size: 27px;
    color:rgb(10, 133, 233)  ;
}
.section-six-text a{
    text-decoration: none;
}
.section-six-heading{
    color: #444444;
    font-size:28px;
}
.section-six h1{
    color: rgb(10, 133, 233) ;
    font-size: 32px;
    text-decoration: underline;
}
.section-six-container-right{
    margin-top: 100px;
}
.section-six-container-right input{
   
    margin: 10px;
    
}
input,textarea{
    border: 1px solid rgb(10, 133, 233) ;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 15px;
    background-clip: padding-box;
}

.section-six-form{
    width: 480px;
    height: 430px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #44444423;
}
.section-six-inputtop{
    display: flex;
    justify-content: space-between;
}
.section-six-inputbot input{
    display: block;
    width: 300px;
    margin-bottom: 30px;
}
}

@media(max-width:1200px){











    




    .section-three-container{
        height: 70vh;
        width: 100%;
        padding: 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* flex-wrap: wrap; */
     }
     .section-three-heading h2{
         text-align: center;
         color:rgb(10, 133, 233) ;
         margin-bottom: 50px;
         font-size: 30px;
         text-decoration: underline;
         padding: 60px 30px;
         /* transform: translateY(40px);
         transition: 1s ease-in-out; */
     }
     .section-three-container-mid,.section-three-container-left,.section-three-container-right{
          height: 360px;
        width: 340px; 
         padding: 60px 30px;
         /* height: 100%; */
         margin-top: 50px;
         background-color: rgb(255, 255, 255);
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-evenly;
         border: 1px solid whitesmoke;
         border-radius: 5px;
         
     }
     .section-three-container-left-img img{
        max-height: 280px;
         max-width: 280px;
         /* background-size: cover;
         background-image: url('./images/elegant.png'); */
     }
     .section-three-container-mid-img img{
        max-height: 280px;
        max-width: 280px;
        /* background-size: cover; */
        /* background-image: url('./images/maintainance.png'); */
     }
     .section-three-container-right-img img{
        max-height: 280px;
        max-width: 280px;
        /* background-size: cover; */
        /* background-image: url('./images/better\ work.png');   */
    
     }
     .section-three-container-left-heading{
         text-align: center;
     }
     .section-three-container-mid-heading,.section-three-container-left-heading,.section-three-container-right-heading{
         color:rgb(10, 133, 233) ;
         font-size: 20px;
         font-weight: bolder;
     }
     .section-three-container-mid-description,.section-three-container-left-description,.section-three-container-right-description{
         color:rgb(156, 40, 40) ;
         height: 90px;
         font-size: 17px;
         /* display: flex;
         justify-content: center;
         align-items: center; */
         text-align: center;
         /* background-color: tomato; */
     }











     
    .section-one-container .section-one-container-left{
        height: 250px;
        max-width: 600px;
        background-color: rgba(233, 227, 227, 0.109);
        /* background-color: red; */
        border-radius: 5px;
        transform: translateY(-200px);
        opacity: 0;
        transition: 1.5s ease-in-out;
        padding: 10px;
    }
   
    .section-one-container-left h1{
        color:rgb(10, 133, 233) ;
        font-weight: bold;
        font-size: 29px;
        /* margin-top: 50px; */
        letter-spacing: 7px;
        line-height: 50px;
    }
    .section-one-container-left h2{
       color:rgb(156, 40, 40);
       font-size: 20px;
       /* margin-top: 40px; */
       letter-spacing: 6px;
       line-height: 0px;
       text-shadow: 1px 1px rgba(26, 25, 25, 0.226);
   
    }
    

    
     .section-one-container-right img{
         max-height: 400px;
        max-width: 4    00px;
    
     }



     .section-two-container-right{
        height: 400px;
        width: 400px;
        background: url('./images/about.jpg');
        background-size: cover;
        object-fit: cover;
        background-repeat: no-repeat;
        /* background-color: red; */
        margin-top: -150px;
        /* margin-left: -150px; */
        transform: translateY(200px);
        opacity: 0;
        transition: 0.7s ease-in-out;
       
    
     }









     .section-two-container{
        height: 100vh;
        max-width: 1200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* background-color: red; */
    }
    .section-two-container-left{
       height: 420px;
       width: 550px;
       display: flex;
       flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: rgba(233, 227, 227, 0.109);
      border: 5px;
      transform: translateY(200px);
      opacity: 0;
      transition: 0.5s ease-in-out;
   }
   .section-two-container-left h2{
       color:rgb(10, 133, 233) ;
       font-size: 28px;
       font-weight: lighter    ;
       
   }
   .section-two-container-left h4{
       font-weight: 100;
       margin-top: 27px;
       color: cadetblue;
   }
   /* .section-two-container-left ul{
   
   } */
   .section-two-container-left h3{
       /* list-style: none; */
       margin-top: 25px;
       font-weight: 900;
       font-size: 25px;
       color:rgb(156, 40, 40);
       width: 400px;
       text-align: justify;
   
   }
   .right{
       margin-top: 30px;
       margin-right: 15px;
       width: 13px;
       height: 25px;
       border: 5px solid black;
       border-top: rgba(233, 227, 227, 0.109);
       border-left: rgba(233, 227, 227, 0.109);
       transform: rotate(45deg);
       
   }
   
   .section-two-container-left button{
       background-color: rgb(10, 133, 233);
       color: white;
       border: none;
       outline: none;
       padding: 8px 22px;
       border-radius: 4px;
       font-size: 16px;
       margin-top: 25px;
   }

}
@media(max-width:1100px){






    
    



     .section-five-container{
        height: 80vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .section-five-container-top{
        width: 100%;
        /* background-color: red; */
        max-height: 500px;
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        /* background-color: black; */
    }
    .section-five-container-top-left,.section-five-container-top-mid,.section-five-container-top-right{
        max-width: 300px;
        max-height: 300px;
        padding: 70px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 1px solid whitesmoke;
        border-radius: 5px;
    }
    .section-five h2{
        text-align: center;
        color:rgb(10, 133, 233);
        font-size: 25px;
        text-decoration: underline;
     
    }
    .top-icon{
        font-size: 40px;
        color: rgb(156, 40, 40);
    }
    .top-heading{
        color: rgb(10, 133, 233) ;
        font-size: 23px;
        font-weight: bold;
    }
    .top-description{
        color: #444444;
        line-height: 30px;
        font-size: 16px;
    }



}

@media(max-width:1000px){













    .section-one-container .section-one-container-left{
        min-height: 300px;
        margin-left: 50px;
        max-width: 600px;
        background-color: rgba(233, 227, 227, 0.109);
        /* background-color: red; */
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-200px);
        opacity: 0;
        transition: 1.5s ease-in-out;
        padding: 8px;
    }
   
    .section-one-container-left h1{
        color:rgb(10, 133, 233) ;
        font-weight: bold;
        font-size:25px;
        /* margin-top: 50px; */
        letter-spacing: 7px;
        line-height: 50px;
    }
    .section-one-container-left h2{
       color:rgb(156, 40, 40);
       font-size: 17px;
       /* margin-top: 40px; */
       letter-spacing: 6px;
       line-height: 0px;
       text-shadow: 1px 1px rgba(26, 25, 25, 0.226);
   
    }
    

    
     .section-one-container-right img{
         max-height: 400px;
        max-width: 4    00px;
    
     }











     

     .section-two-container-right{
        height: 400px;
        width: 400px;
        background: url('./images/about.jpg');
        background-size: cover;
        object-fit: cover;
        background-repeat: no-repeat;
        /* background-color: red; */
        margin-top: -150px;
        /* margin-left: -150px; */
        transform: translateY(200px);
        opacity: 0;
        transition: 0.7s ease-in-out;
       
    
     }









     .section-two-container{
        height: 100vh;
        max-width: 1200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* background-color: red; */
    }
    .section-two-container-left{
       height: 400px;
       width: 500px;
       display: flex;
       flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: rgba(233, 227, 227, 0.109);
      border: 5px;
      transform: translateY(200px);
      opacity: 0;
      transition: 0.5s ease-in-out;
   }
   .section-two-container-left h2{
       color:rgb(10, 133, 233) ;
       font-size: 25px;
       font-weight: lighter    ;
       
   }
   .section-two-container-left h4{
       font-weight: 100;
       margin-top: 27px;
       color: cadetblue;
   }
   /* .section-two-container-left ul{
   
   } */
   .section-two-container-left h3{
       /* list-style: none; */
       margin-top: 25px;
       font-weight: 900;
       font-size: 20px;
       color:rgb(156, 40, 40);
       width: 400px;
       text-align: justify;
   
   }
   .right{
       margin-top: 30px;
       margin-right: 15px;
       width: 13px;
       height: 25px;
       border: 5px solid black;
       border-top: rgba(233, 227, 227, 0.109);
       border-left: rgba(233, 227, 227, 0.109);
       transform: rotate(45deg);
       
   }
   
   .section-two-container-left button{
       background-color: rgb(10, 133, 233);
       color: white;
       border: none;
       outline: none;
       padding: 8px 22px;
       border-radius: 4px;
       font-size: 16px;
       margin-top: 25px;
   }

   .section-two-container-right{
    height: 400px;
    width: 400px;
    background: url('./images/about.jpg');
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    /* background-color: red; */
    margin-top: -150px;
    /* margin-left: -150px; */
    transform: translateY(200px);
    opacity: 0;
    transition: 0.7s ease-in-out;
   

 }
}
@media(max-width:1090px){
    .section-six{
        margin-top: 150px;
    }
}


@media(max-width:960px){
    header .container-right a{
display: none;
    }
    .ham{
        display: block;
        font-size: 30px
    }
    .section-one .section-one-container{
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items:center;
        flex-direction: column;
       
       
    }
    .section-two-container{
        height: 100vh;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* background-color: red; */
    }
    .section-six-container{
        height: 100vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        /* background-color: red; */
        justify-content: space-around;
    }
    .footer{
        margin-top: 750px;
        width: 100%;
    }
         
.section-six{
    height: 100vh;
    width: 100%;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    /* background-color: rebeccapurple; */
    align-items: center;
}
.section-six-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    /* background-color: red; */
    
    justify-content: space-around;
}
.section-six-container-left-top{
    width:450px;
    height: 200px;
    display: flex;
    /* background-color: red;   */
    /* z-index: 9999; */
    justify-content: space-between;
    /* margin-top: 100px; */
    
    
    /* padding: 20px; */
}
.section-six-social{
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 10px 30px; */
    background: #fafbff;
    border: 1px solid whitesmoke;
}

.section-six-icon{
    font-size: 27px;
    color:rgb(10, 133, 233)  ;
}
.section-six-text a{
    text-decoration: none;
}
.section-six-heading{
    color: #444444;
    font-size:28px;
}
.section-six h1{
    color: rgb(10, 133, 233) ;
    margin-top: -100px;
    margin-bottom: 150px;
    font-size: 32px;
    text-decoration: underline;
}
.section-six-container-right{
    margin-top: 100px;
}
.section-six-container-right input{
   
    margin: 10px;
    
}
input,textarea{
    border: 1px solid rgb(10, 133, 233) ;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 15px;
    background-clip: padding-box;
}

.section-six-form{
    width: 480px;
    height: 430px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #44444423;
}
.section-six-inputtop{
    display: flex;
    justify-content: space-between;
}
.section-six-inputbot input{
    display: block;
    width: 300px;
    margin-bottom: 30px;
}
}


@media(max-width:930px){











    .section-three{
        height: 150vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* transform: rotate(30deg); */
        transform: translateY(200px);
        opacity: 0;
        transition: 0.7s ease-in-out;
    }



    
    .section-three-container{
        height: 150vh;
        width: 100%;
        padding: 0px 20px;
        display: flex;
        flex-direction: column  ;
        justify-content: space-between;
        align-items: center;
        /* flex-wrap: wrap; */
     }
     .section-three-heading h2{
         text-align: center;
         color:rgb(10, 133, 233) ;
         margin-bottom: -20px;
         font-size: 30px;
         text-decoration: underline;
         padding: 60px 30px; 
         /* transform: translateY(40px);
         transition: 1s ease-in-out; */
     }
     .section-three-container-mid,.section-three-container-left,.section-three-container-right{
          height: 350px;
        width: 280px; 
         padding: 60px 30px;
         /* height: 100%; */
         margin-top: 50px;
         background-color: rgb(255, 255, 255);
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-evenly;
         border: 1px solid whitesmoke;
         border-radius: 5px;
         
     }
     .section-three-container-left-img img{
        max-height: 250px;
         max-width: 250px;
         /* background-size: cover;
         background-image: url('./images/elegant.png'); */
     }
     .section-three-container-mid-img img{
        max-height: 250px;
        max-width: 250px;
        /* background-size: cover; */
        /* background-image: url('./images/maintainance.png'); */
     }
     .section-three-container-right-img img{
        max-height: 250px;
         max-width: 250px;
        /* background-size: cover; */
        /* background-image: url('./images/better\ work.png');   */
    
     }
     .section-three-container-left-heading{
         text-align: center;
     }
     .section-three-container-mid-heading,.section-three-container-left-heading,.section-three-container-right-heading{
         color:rgb(10, 133, 233) ;
         font-size: 19px;
         font-weight: bolder;
     }
     .section-three-container-mid-description,.section-three-container-left-description,.section-three-container-right-description{
         color:rgb(156, 40, 40) ;
         height: 90px;
         font-size: 16px;
         /* display: flex;
         justify-content: center;
         align-items: center; */
         text-align: center;
         /* background-color: tomato; */
     }  










     .section-four{
        height: 80vh;
        margin-top: 200px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items : center;
        justify-content: space-evenly;
        transform: translateY(100px);
        opacity: 0;
        transition: 0.7s ease-in-out;
    }
    .section-four-container{
        /* background-color: violet; */ 
        height: 80vh;
       max-width: 80%;
       /* background-color: violet; */
        display: flex;
        align-items : center;
        justify-content: space-evenly; 
    }
    .section-four-container-left img{
        max-width: 100%;
        height: auto;
        /* background-color: turquoise; */
        transform: scale(0.5);
    }
    .section-four-container-right{
        width: 300px;
        height: 400px;
        /* background-color: yellow; */
        display: flex;
      flex-direction: column;
        justify-content: space-between;
    }
    /* .section-four-common{
        padding: 1px 5px;
       
     }  */
    .section-four-common{
        display: flex;
        justify-content: space-between;
    }
    
    .section-four-right{
        width: 20px;
        height: 40px;
        border: 6px solid rgb(156, 40, 40);
        border-radius: 3px;
        border-top: none;
        border-left: none;
        margin-right:30px;
        margin-top: -10px;
        transform: rotate(40deg);
    
    }
    .section-four h2{
        color:rgb(10, 133, 233)  ;
        font-size: 30px;
        text-decoration: underline;
    }
    .section-four-heading{
        width: 100%;
        color:rgb(10, 133, 233) ;
       
        /* text-align: left; */
        /* border: 2px solid red; */
       
    }













    
    .section-five-container{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .section-five-container-top{
        width: 100%;
        /* background-color: red; */
        max-height: 200vh;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        
        /* background-color: black; */
    }
    .section-five-container-top-left,.section-five-container-top-mid,.section-five-container-top-right{
        max-width: 400px;
        max-height: 300px;
        padding: 70px 30px;
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 1px solid whitesmoke;
        border-radius: 5px;
    }
    .section-five h2{
        text-align: center;
        color:rgb(10, 133, 233);
        font-size: 25px;
        text-decoration: underline;
     
    }
    .top-icon{
        font-size: 40px;
        color: rgb(156, 40, 40);
    }
    .top-heading{
        color: rgb(10, 133, 233) ;
        font-size: 23px;
        font-weight: bold;
    }
    .top-description{
        color: #444444;
        line-height: 30px;
        font-size: 16px;
    }















   
.section-six{
    height: 60vh;
    width: 100%;
    margin-top: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-six-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    /* background-color: red; */
    justify-content: space-around;
}
.section-six-container-left-top{
    width:450px;
    height: 200px;
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    margin-top: 100px;
    
    
    /* padding: 20px; */
}
.section-six-social{
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 10px 30px; */
    background: #fafbff;
    border: 1px solid whitesmoke;
}

.section-six-icon{
    font-size: 27px;
    color:rgb(10, 133, 233)  ;
}
.section-six-text a{
    text-decoration: none;
}
.section-six-heading{
    color: #444444;
    font-size:28px;
}
.section-six h1{
    color: rgb(10, 133, 233) ;
    margin-top: -100px;
    margin-bottom: 150px;
    font-size: 32px;
    text-decoration: underline;
}
.section-six-container-right{
    margin-top: 100px;
}
.section-six-container-right input{
   
    margin: 10px;
    
}
input,textarea{
    border: 1px solid rgb(10, 133, 233) ;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 15px;
    background-clip: padding-box;
}

.section-six-form{
    width: 480px;
    height: 430px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #44444423;
}
.section-six-inputtop{
    display: flex;
    justify-content: space-between;
}
.section-six-inputbot input{
    display: block;
    width: 300px;
    margin-bottom: 30px;
}
}


@media(max-width:500px){



    header .container{
        display: flex;
        height: 90px;
        width: 90%;
        justify-content: space-around;
        align-items: center;
    }
    .section-one-container-left h2{
        color:rgb(156, 40, 40);
        font-size: 20px;
        margin-top: 40px;
        letter-spacing: 0px;
        line-height: 0px;
        text-shadow: 1px 1px rgba(26, 25, 25, 0.226);
    
     }









     .section-two-container-left{
        height: 450px;
        width: 600px;
        display: flex;
        flex-direction: column;
        /* background-color: red; */
       justify-content: flex-start;
       align-items: center;
       background-color: rgba(233, 227, 227, 0.109);
       /* background-color: red; */
       border: 5px;
       transform: translateY(200px);
       opacity: 0;
       transition: 0.5s ease-in-out;
    }
    .section-two-container-left h2{
        color:rgb(10, 133, 233) ;
        font-size: 25px;
        font-weight: lighter    ;
        
    }
    .section-two-container-left h4{
        font-weight: 100;
        margin-top: 30px;
        color: cadetblue;
    }
    /* .section-two-container-left ul{
    
    } */
    .section-two-container-left h3{
        /* list-style: none; */
        margin-top: 25px;
        font-weight: 900;
        font-size: 20px;
        color:rgb(156, 40, 40);
        width: 400px;
        text-align: justify;
    
    }
    .section-three-heading h2{
        text-align: center;
        color:rgb(10, 133, 233) ;
        margin-bottom: -20px;
        font-size: 22px;
        text-decoration: underline;
        padding: 60px 30px; 
        /* transform: translateY(40px);
        transition: 1s ease-in-out; */
    }



    







     
    .section-four{
        height: 80vh;
        margin-top: 200px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items : center;
        justify-content: space-evenly;
        transform: translateY(100px);
        opacity: 0;
        transition: 0.7s ease-in-out;
    }
    .section-four-container{
        /* background-color: violet; */ 
        height: 80vh;
       max-width: 80%;
       /* background-color: violet; */
        display: flex;
        flex-direction: column;
        align-items : center;
        justify-content: space-evenly; 
    }
    .section-four-container-left img{
        max-width: 100%;
        height: auto;
        /* background-color: turquoise; */
        transform: scale(0.6);
    }
    .section-four-container-right{
        width: 300px;
        height: 400px;
        /* background-color: yellow; */
        display: flex;
      flex-direction: column;
        justify-content: space-between;
    }
    /* .section-four-common{
        padding: 1px 5px;
       
     }  */
    .section-four-common{
        display: flex;
        justify-content: space-between;
    }
    
    .section-four-right{
        width: 20px;
        height: 40px;
        border: 6px solid rgb(156, 40, 40);
        border-radius: 3px;
        border-top: none;
        border-left: none;
        margin-right:30px;
        margin-top: -10px;
        transform: rotate(40deg);
    
    }
    .section-four h2{
        color:rgb(10, 133, 233)  ;
        font-size: 19px;
        text-decoration: underline;
    }
    .section-four-heading{
        width: 100%;
        color:rgb(10, 133, 233) ;
       
        /* text-align: left; */
        /* border: 2px solid red; */
       
    }

    .section-six{
        height: 60vh;
        /* background-color: red; */
        /* overflow-x: hidden; */
        /* overflow-x: hidden; */
        /* z-index: 99999; */
        width: 100%;
        /* margin-top:1300px; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-six-container{
        height: 100vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        /* background-color: red; */
        justify-content: space-around;
    }
    .section-six-container-left-top{
        width:450px;
        height: 200px;
        display: flex;
        /* background-color: red; */
        justify-content: space-between;
        margin-top: 100px;
        
        
        /* padding: 20px; */
    }
    .section-six-social{
        height: 150px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        /* padding: 10px 30px; */
        background: #fafbff;
        border: 1px solid whitesmoke;
    }
    
    .section-six-icon{
        font-size: 24px;
        color:rgb(10, 133, 233)  ;
    }
    .section-six-text a{
        text-decoration: none;
    }
    .section-six-heading{
        color: #444444;
        font-size:25px;
    }
    .section-six h1{
        color: rgb(10, 133, 233) ;
        margin-top: -100px;
        margin-bottom: 150px;
        font-size: 28px;
        text-decoration: underline;
    }
    .section-six-container-right{
        margin-top: 100px;
    }
    .section-six-container-right input{
       
        margin: 7px;
        
    }
    input,textarea{
        border: 1px solid rgb(10, 133, 233) ;
        border-radius: 5px;
        padding: 7px 12px;
        font-size: 13px;
        background-clip: padding-box;
    }
    
    .section-six-form{
        width: 400px;
        height: 400px;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #44444423;
    }
    .section-six-inputtop{
        display: flex;
        justify-content: space-between;
    }
    .section-six-inputbot input{
        display: block;
        width: 250px;
        margin-bottom: 25px;
    }
    
    .section-five-container{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .section-five-container-top{
        width: 100%;
        /* background-color: red; */
        max-height: 200vh;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        
        /* background-color: black; */
    }
    .section-five-container-top-left,.section-five-container-top-mid,.section-five-container-top-right{
        max-width: 400px;
        max-height: 300px;
        padding: 70px 30px;
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 1px solid whitesmoke;
        border-radius: 5px;
    }
    .section-five h2{
        text-align: center;
        color:rgb(10, 133, 233);
        font-size: 25px;
        text-decoration: underline;
     
    }
}



@media(max-width:400px){








    






    .section-one-container .section-one-container-left{
        min-height: 300px;
        margin-left: 50px;  
        max-width: 600px;
        background-color: rgba(233, 227, 227, 0.109);
        /* background-color: red; */
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-200px);
        opacity: 0;
        transition: 1.5s ease-in-out;
        padding: 8px;
    }
   
    .section-one-container-left h1{
        color:rgb(10, 133, 233) ;
        font-weight: bold;
        font-size:25px;
        /* margin-top: 50px; */
        letter-spacing: 7px;
        line-height: 50px;
    }
    .section-one-container-left h2{
       color:rgb(156, 40, 40);
       font-size: 16px;
       /* margin-top: 40px; */
       letter-spacing: 0px;
       line-height: 0px;
       text-shadow: 1px 1px rgba(26, 25, 25, 0.226);
   
    }
    

    
     .section-one-container-right img{
         max-height: 400px;
        max-width: 4    00px;
    
     }
     .section-one{
         overflow-x: hidden;
     }
     
     .section-two{
        overflow-x: hidden;
    }
    












    

    .section-two-container-left{
        height: 450px;
        width: 600px;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        /* background-color: red; */
       justify-content: flex-start;
       align-items: flex-end;
       background-color: rgba(233, 227, 227, 0.109);
       /* background-color: red; */
       border: 5px;
       transform: translateY(200px);
       opacity: 0;
       transition: 0.5s ease-in-out;
    }
    .section-two-container-left h2{
        color:rgb(10, 133, 233) ;
        font-size: 25px;
        font-weight: lighter    ;
        
    }
    .section-two-container-left h4{
        font-weight: 100;
        margin-top: 30px;
        color: cadetblue;
    }
    /* .section-two-container-left ul{
    
    } */
    .section-two h2{
        /* text-align: left; */
        margin-right: 150px;
        font-size: 18px;
    }
    .section-two h4{
        margin-right: 250px;
    }
    .section-two-container-left h3{
        /* list-style: none; */
        margin-top: 25px;
        font-weight: 900;
        font-size: 20px;
        color:rgb(156, 40, 40);
        width: 400px;
        text-align: justify;
    
    }
    .section-two button{
        margin-right: 220px;
    }

    .section-two-container-right {
        margin-right: 100px;
    }
/* 
    .section-three{
        overflow-x: hidden;
    }
    .section-four{
        overflow-x: hidden;
    }
    .section-five{
        overflow-x: hidden;
    }
    .section-six{
        overflow-x: hidden;
    } */








    
.section-six{
    height: 60vh;
    width: 100%;
    margin-top: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-six-container{
    height: 60vh;
    display: flex;
    width: 70%;
    /* background-color: red; */
    justify-content: space-around;
}
.section-six-container-left-top{
    width: 300px;
    height: 200px;
    margin-top: 250px;
    /* background-color:red; */
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    margin-top: 100px;
    
    
    /* padding: 20px; */
}
.section-six-social{
    height: 150px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 10px 30px; */
    background: #fafbff;
    border: 1px solid whitesmoke;
}

.section-six-icon{
    font-size: 17px;
    color:rgb(10, 133, 233)  ;
}
.section-six-text a{
    text-decoration: none;
}
.section-six-heading{
    color: #444444;
    font-size:23px;
}
.section-six h1{
    color: rgb(10, 133, 233) ;
    font-size: 22px;
    text-decoration: underline;
    margin-bottom: 250px;
}
.section-six-container-right{
    margin-top: 100px;
}
.section-six-container-right input{
   
    margin: 10px;
    
}
input,textarea{
    border: 1px solid rgb(10, 133, 233) ;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 13px;
    background-clip: padding-box;
}
.section-six-inputtop{
    display: flex;
    flex-direction: column;
}

.section-six-form{
    width: 300px;
    height: 430px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #44444423;
}
.section-six-inputtop{
    display: flex;
    justify-content: space-between;
}
.section-six-inputbot input{
    display: block;
    width: 200px;
    margin-bottom: 30px;
}
}